# Generic files and folders to ignore
.bak/
.sonar/
.scannerwork/
.local/
.tmp/
.env
.env.*


# cdk8s files (TypeScript)
dist/
coverage/
lib/
node_modules/
test-reports/
docs-typedoc/
*.d.ts
*.js
!jest.config.js
.jsii
tsconfig.json


# Intellij IDEA settings
.idea/
*.iml
